<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>visa_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
				<key>dateExpires</key>
				<string>25/10/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_launch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE1B4BCE70EAB88BCAD9D07412E557761932553E</string>
						<key>dateExpires</key>
						<string>25/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73S6GV2H32</string>
						<key>name</key>
						<string>Maniya Pratik</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>73S6GV2H32.com.visa.visaApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>73S6GV2H32</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>73S6GV2H32.com.visa.visaApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d1b77d3d-4189-4812-8da0-29dd33cea122</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>73S6GV2H32</string>
				<key>name</key>
				<string>Maniya Pratik</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
